[submodule "mpages"]
	path = mpages
	url = git@github.com:mrpeverill/mpages.git
[submodule "centered-window-mode"]
	path = centered-window-mode
	url = https://github.com/anler/centered-window-mode
[submodule "markdown-mode"]
	path = markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
